.deps/
.vs/
.*/
aclocal.m4
autom4te.cache/
bin/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/
install-sh
ltmain.sh
Makefile
Makefile.in
m4/*.m4
missing
obj/
stamp-h1
test-driver
*~
*.a
*.log
*.o
*.trs
*.user
trie/test/src/test_tetengo.trie
