.*/
!.github
aclocal.m4
autom4te.cache/
bin/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
m4/*.m4
missing
obj/
stamp-h1
test-driver
__pycache__/
*~
*.a
*.la
*.lo
*.log
*.o
*.trs
*.user
tools/EastAsianWidth.txt
tools/GraphemeBreakProperty.txt
tools/character_property_map.txt
