# GitHub Actions Workflow
# Build with GCC on Linux
# Copyright 2019-2020 kaoru  https://www.tetengo.org/

name: Linux - GCC

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CACHE_REV:     0
  BOOST_VER:     1_72_0
  BOOST_VER_DOT: 1.72.0

jobs:
  build:
    name:    Build
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      shell: bash
      run: |
        sudo apt-get -y update
        sudo apt-get -y install \
          autoconf-archive
    
    - name: Cache Boost build
      uses: actions/cache@v1
      with:
        path: ../boost_build
        key: ${{ env.CACHE_REV }}-Linux-GCC-Boost-${{ env.BOOST_VER }}
    
    - name: Build Boost
      shell: bash
      run: |
        mkdir -p ../boost_build
        cd ../boost_build
        wget https://dl.bintray.com/boostorg/release/${BOOST_VER_DOT}/source/boost_${BOOST_VER}.tar.bz2
        tar xvf boost_${BOOST_VER}.tar.bz2
        cd boost_${BOOST_VER}
        ./bootstrap.sh --with-toolset=gcc
        (./b2 -j2 toolset=gcc variant=release link=static cxxflags="-std=gnu++11" || :)
        (sudo ./b2 -j2 toolset=gcc variant=release link=static install --prefix=/usr/local || :)
    
    - name: Checkout
      uses: actions/checkout@v1
    
    - name: Configure
      shell: bash
      run: |
        export DISTCHECK_CONFIGURE_FLAGS=" \
          CC=gcc-9 \
          CXX=g++-9 \
        "
        ./bootstrap.sh
        mkdir -p build
        cd build
        ../configure $DISTCHECK_CONFIGURE_FLAGS
    
    - name: Build
      shell: bash
      run: |
        export DISTCHECK_CONFIGURE_FLAGS=" \
          CC=gcc-9 \
          CXX=g++-9 \
        "
        export BOOST_TEST_LOG_LEVEL=warning
        cd build
        make -j2 check
    
